:root {
  --primary-color: #0d1b1e;
  --dark-bg: #2d2d2d;
  --turquoise: #00f5bc;
  --orange: #f8cf48;
  --pink: #fcaae6;
  --purple: #b000e6;
  --violet: #db76fa;
  --blue: #5d82f9;
  --indigo: #7546f8;
  --silver: #c1c1c1;
  --white: #fff;
  --transition-duration-base: 0.2s;
  --transition-duration-long: 0.4s
}

::selection {
  background: var(--turquoise)
}

/* mouse trail
------------------------- */
.pointer {
  animation: fadeOut 1s 1;
  border-radius: 50%;
  height: 40px;
  pointer-events: none;
  position: fixed;
  transform: translate(-50%, -50%);
  width: 40px;
  z-index: -1
}

@keyframes fadeOut {
  0% { opacity: 0 }
  50% { opacity: 0.5 }
  100% { opacity: 0 }
}

/* base
------------------------- */
*,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0
}

html,
body {
  height: 100%
}

body {
  background: var(--white);
  color: var(--primary-color);
  font-family: sans-serif;
  line-height: 1.5
}

div,
.h1,
h1,
h2, 
p,
.nav,
footer {
  text-align: center
}

.container__item {
  margin: 0 auto 2.188em
}

a {
  color: var(--primary-color);
  text-decoration: none
}

.link {
  background: var(--violet);
  color: black
}

.link:hover {
  background: #00f5bc
}

/* typography
------------------------- */
h2 {
  font-size: 1.5rem
}

h3 {
  font-size: 1rem;
  margin-bottom: 0.5em
}

h3 a {
  color: #f9f9f9
}

/* header
------------------------- */
header {
  display: block;
  margin-bottom: 1.563em
}

.h1 {
  color: transparent;
  display: inline-block;
  position: relative
}

h1 {
  color: transparent;
  font-family: sans-serif;
  font-size: 4.375rem;
  height: 1em;
  letter-spacing: 0.086em;
  text-shadow: 0.071em 0.071em var(--turquoise);
  -webkit-text-stroke: 0.029em var(--primary-color)
}

.h1:hover span {
  animation: rainbow 6s linear 0s infinite
}

.h1:hover span:nth-child(2) { animation-delay: -1s }
.h1:hover span:nth-child(3) { animation-delay: -2s }
.h1:hover span:nth-child(4) { animation-delay: -3s }
.h1:hover span:nth-child(6) { animation-delay: -1s }
.h1:hover span:nth-child(7) { animation-delay: -5s }
.h1:hover span:nth-child(9) { animation-delay: -4s }

@keyframes rainbow {
  from { text-shadow: 0.071em 0.071em #f00 }
  16.6% { text-shadow: 0.071em 0.071em #f0f }
  33.3% { text-shadow: 0.071em 0.071em #00f }
  50% { text-shadow: 0.071em 0.071em #0ff }
  66.6% { text-shadow: 0.071em 0.071em #0f0 }
  83.3% { text-shadow: 0.071em 0.071em #ff0 }
  to { text-shadow: 0.071em 0.071em #f00 }
}

.letter { 
  margin: 0;
  padding: 0
}

/* navigation
------------------------- */
nav {
  line-height: 2;
  margin-top: 0.625em
}

nav ul {
  list-style: none
}

nav li {
  display: inline;
  padding: 0 0.5em
}

nav li a {
  color: var(--primary-color);
  font-weight: 400;
  position: relative;
  text-decoration: none;
  text-transform: lowercase
}

nav li a:after {
  background: var(--orange);
  bottom: -0.188em;
  content: '';
  height: 0.125em;
  left: 0;
  position: absolute;
  -webkit-transition: var(--transition-duration-base) ease all 0s;
  transition: var(--transition-duration-base) ease all 0s;
  visibility: hidden;
  width: 0
}

nav li a:hover:after {
  -webkit-transition: var(--transition-duration-base) ease all;
  transition: var(--transition-duration-base) ease all;
  visibility: visible;
  width: 100%
}

/* about
------------------------- */
.about {
  line-height: 1.7;
  max-width: 100%;
  padding: 0 0.25em
}

.about p:last-child {
  padding-top: 1em
}

/* projects
------------------------- */
img {
  display: block;
  width: 100%
}

.wrapper {
  font-size: 1rem;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 0.25em
}

.tab {
  background-color: var(--white);
  border: 0.25em solid var(--silver);
  margin: 0;
  overflow: hidden;
  width: 100%
}

.tab button {
  background-color: inherit;
  border: none; 
  cursor: pointer;
  float: left;
  outline: none;
  padding: 0.875em 1em
}

.tab button:hover {
  background-color: var(--turquoise)
}

.tab button.active {
  border-left: 0.25em solid var(--silver);
  border-right: 0.25em solid var(--silver)
}

.tab button:first-child.active {
  border-left: none
}

.tablinks {
  font-weight: 700
}

.tabcontent {
  background-color: var(--white);
  border: 0.25em solid var(--silver);
  border-top: none;
  display: none;
  margin: 0 auto;
  padding: 0;
  width: 100%
}

/* footer
------------------------- */
.social {
  font-size: 2rem
}

.social p {
  font-size: 1rem
}

.share-btn:hover {
  animation: jump 0.3s 2;
  position: relative
}

@keyframes jump {
    0% { bottom: 0 }
    50% { bottom: 0.313em }
   100% { bottom: 0 }
}

footer {
  font-size: 0.75em
}

/* responsive
------------------------- */
@media only screen and (min-width: 1024px) {
  .about {
    width: 40%
  }

  .wrapper {
    box-shadow: 1em 1em var(--pink);
    width: 50%;
  }
}