@font-face {
  font-family: Windows;
  font-style: normal;
  font-weight: normal;
  src: url('fonts/windows-regular-webfonts/windows-regular.eot');
  src: url('fonts/windows-regular-webfonts/windows-regular.woff') format('woff'),
       url('fonts/windows-regular-webfonts/windows-regular.woff2') format('woff2'),
       url('fonts/windows-regular-webfonts/windows-regular.ttf') format('truetype'),
       url('fonts/windows-regular-webfonts/windows-regular.svg') format('svg');
}

@font-face {
  font-family: 'Windows Bold';
  src: url('fonts/windows-bold-webfonts/windows-bold.eot');
  src: url('fonts/windows-bold-webfonts/windows-bold.woff') format('woff'),
       url('fonts/windows-bold-webfonts/windows-bold.woff2') format('woff2'),
       url('fonts/windows-bold-webfonts/windows-bold.ttf') format('truetype'),
       url('fonts/windows-bold-webfonts/windows-bold.svg') format('svg');
}

*,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0
}

html,
body {
  height: 100%
}

body {
  font-family: Windows, sans-serif;
  font-size: 0.8rem;
}

.hidden {
  display: none;
  overflow: hidden;
}

.container {
  background: #bdbdbd;
  border: 1px solid gray;
  height: 350px;
  margin: 100px auto;
  padding: 0 18px;
  width: 400px;
}

.container, 
.caret,
.close,
.btn {
  border-bottom: 1px solid #7b7b7b;
  border-left: 1px solid white;
  border-right: 1px solid #7b7b7b;
  border-top: 1px solid white;
  box-shadow: 1px 1px 1px black;
}

.bar {
  background-color: #0060a3;
  background: linear-gradient(90deg, #0b2366 0%, #0060a3 35%, #aacce7 100%);
  color: white;
  font-family: 'Windows Bold', sans-serif;
  font-size: 0.875rem;
  height: 18px;
  line-height: 18px;
  margin: 1px -17px 10px;
  padding-left: 3px;
  position: relative;
  width: calc(100% + 34px);
}

.close {
  background: #bdbdbd;
  color: black;
  cursor: pointer;
  font-size: 0.688rem;
  height: 14px;
  line-height: 12px;
  position: absolute;
  right: 2px;
  text-align: center;
  top: 2px;
  width: 16px;
}

.msg-label {
  margin-bottom: 10px;
}

.label {
  border-bottom: 1px solid #dedede;
  border-left: 1px solid black;
  border-right: 1px solid #dedede;
  border-top: 1px solid black;
  height: 24px;
  margin-left: 35px;
  width: 250px;
}

.dropdown {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
}

.caret {
  background-color: #bdbdbd;
  cursor: pointer;
  height: 21px;
  position: absolute;
  right: 5px;
  top: -23px;
  width: 16px;
}

.caret:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid black;
  content: '';
  position: absolute;
  right: 3px;
  top: 8px;
}

.text-editor {
  background-color: white;
  border-bottom: 1px solid white;
  border-right:  1px solid white;
  outline: 1px solid white;
}

.edit-bar {
  background-color: #bdbdbd;
  border-left: 1px solid white;
  border-top: 1px solid white;
  cursor: default;
  margin: 10px auto 3px;
  outline: 1px solid #7b7b7b;
  text-align: center;
  width: 100%;
}

.box {
  border-left: 1px groove #7b7b7b;
  display: inline;
}

.box:first-child {
  border-left: none;
}

.style-btn {
  background: transparent;
  border: none;
  font-family: 'Times New Roman', serif;
  font-weight: 700;
  padding: 0 6px;
}

.text-color {
  color: blue;
}

.bg-color {
  background: blue;
  color: white;
  width: auto;
}

.small-text {
  font-size: 0.5rem;
}

.large-text {
  font-size: 1rem;
}

.bold-text {
  font-weight: 900;
}

.italic-text {
  font-style: italic;
}

.underline-text {
  text-decoration: underline;
}

.link-text {
  background: transparent;
  border: none;
  color: blue;
  font-family: 'Times New Roman', serif;
  font-weight: 700;
  padding: 0 5px;
  text-decoration: underline;
}

.smileys {
  background: #bdbdbd;
  border: 1px solid gray;
  position: absolute;
  width: 92px;
}

.smiley {
  padding: 2px 4px;
}

#text-field {
  background-color: white;
  border-left: 1px solid black;
  border-top: 1px solid black;
  display: block;
  font-family: 'Times New Roman', serif;
  height: 90px;
  margin: auto;
  outline: 1px inset #7b7b7b;
  overflow-y: auto;
  padding: 2px;
  width: 100%;
}

.special {
  margin-top: 8px;
}

.later {
  margin-bottom: 10px;
  text-align: right;
}

.checkbox {
  display: inline-block;
  position: relative;
}

.btns {
  text-align: center;
}

.btn {
  background: #bdbdbd;
  font-family: Windows, sans-serif;
  height: 25px;
  margin: auto 12px;
  padding-left: 0;
  width: 100px;
}

.btn:active {
  padding-left: 1px;
}

.btn:hover {
  cursor: pointer;
}

footer {
  font-family: Arial, sans-serif;
  margin: 50px
}