:root {
  --grey: #bdbdbd;
}

*,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0
}

html,
body {
  height: 100%
}

body {
  font-family: sans-serif;
  font-size: 0.75em;
}

textarea {
  display: block;
  font-family: 'Times New Roman', serif;
  margin: auto;
  resize: none;
  width: 100%;
}

.container {
  background: var(--grey);
  border: 1px solid gray;
  height: 335px;
  margin: 100px auto;
  padding: 0 18px;
  width: 400px;
}

.bar {
  background-color: #0060a3;
  background: linear-gradient(90deg, #0b2366 0%, #0060a3 35%, #aacce7 100%);
  color: white;
  font-weight: 700;
  height: 32px;
  line-height: 32px;
  margin: auto -18px 10px;
  padding-left: 3px;
  position: relative;
  width: calc(100% + 36px);
}

.close {
  background: #d6d6ce;
  color: black;
  font-size: 1rem;
  font-weight: 700;
  height: 24px;
  line-height: normal;
  position: absolute;
  right: 4px;
  text-align: center;
  top: 4px;
  width: 24px;
}

.enter-label {
  margin-bottom: 10px;
}

.dropdown {
  border: 1px solid gray;
  display: inline-block;
  vertical-align: middle;
}

.caret {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid black;
  display: inline-block;
}

.text-editor {
  border: 1px outset white;
  font-family: serif;
  font-weight: 700;
  margin: 10px auto 1px;
  text-align: center;
  width: 100%;
}

.box {
  border-left: 1px groove white;
  display: inline;
}

.box:first-child {
  border-left: none;
}

.box p {
  display: inline;
  line-height: 100%;
  padding: 0 5px;
}

.text-color {
  color: blue;
}

.background-color {
  background: blue;
  color: white;
  width: auto;
}

.small-text {
  font-size: 0.5rem;
}

.large-text {
  font-size: 1rem;
}

.bold-text {
  font-weight: 900;
}

.italic-text {
  font-style: italic;
}

.underline-text {
  text-decoration: underline;
}

.link-text {
  color: blue;
  text-decoration: underline;
}

.smileys {
  background: var(--grey);
  border: 1px solid gray;
  display: none;
  position: absolute;
  width: 92px;
}

.smiley {
  padding: 2px 4px;
}

.special {
  margin-top: 10px;
}

.later {
  margin-bottom: 10px;
  text-align: right;
}

.checkbox {
  display: inline-block;
  vertical-align: text-top;
}

.buttons {
  text-align: center;
}

button {
  background: var(--grey);
  border-bottom: 1px solid #848484;
  border-left: 1px solid white;
  border-right: 1px solid #848484;
  border-top: 1px solid white;
  margin: auto 12px;
  padding: 5px 0;
  width: 100px;
}